.Header {
  padding-top: 30px;
  padding-bottom: 30px;
  height: 400px;
  min-width: 100%;
  border: 2px solid green;
  font-size: 30px;
  color: white;
  text-align: center;
  background-image: url(../../resource/night.png);
}

.title {
  display: flex;
  position: relative;
  left: 300px;
}
