.Header {
  padding-top: 30px;
  padding-bottom: 30px;
  height: 500px;
  min-width: 100%;

  font-size: 30px;
  text-align: center;
  background-image: url(../../asset/night.png);
  position: absolute;
  top: 0px;
}

.title {
  display: flex;
  position: relative;
  left: 300px;
}
